In [29]:
1+3

4

In [30]:
a=25
a

25

In [31]:
marks=40;

In [32]:
marks
type(marks)

int

In [33]:
marks=20.5
marks
type(marks)

float

In [34]:
marks='NOT AVAILABLE'
marks
type(marks)

str

In [35]:
marks=['HELLO','PRAKHAR']
marks
type(marks)

list

In [36]:
a=[12,5]
type(a)

list

In [37]:
a=(12,6)
type(a)

tuple

In [38]:
a="HELLO WORLD"
len(a)
a[0]

'H'

In [39]:
a[1]

'E'

In [40]:
a[2]

'L'

In [41]:
a[1:]

'ELLO WORLD'

In [42]:
a

'HELLO WORLD'

In [43]:
a[:4]

'HELL'

In [44]:
a[:-1]

'HELLO WORL'

In [45]:
a[::2]

'HLOWRD'

In [46]:
a[::-1]

'DLROW OLLEH'

In [47]:
a

'HELLO WORLD'

In [48]:
a=a + " its me Prakhar"

In [49]:
print(a)

HELLO WORLD its me Prakhar

In [50]:
a.upper()

'HELLO WORLD ITS ME PRAKHAR'

In [51]:
a.lower()

'hello world its me prakhar'

In [52]:
a.split()

['HELLO', 'WORLD', 'its', 'me', 'Prakhar']

In [53]:
print(a.split('a'))

['HELLO WORLD its me Pr', 'kh', 'r']

In [54]:
'Insert another string in {} curly brackets:'.format('STRING INSIDE CURLY BRACKET')

'Insert another string in STRING INSIDE CURLY BRACKET curly brackets:'

In [55]:
player = 'Thomas'
points = 33

 # concatenation

In [56]:
f'Last night, {player} scored {points} points.'          # string formatting

'Last night, Thomas scored 33 points.'

In [57]:
print("I'm going to inject %s here." %player )

I'm going to inject Thomas here.

In [58]:
print("I am going to %s multiple items as %s in this token" %('insert', player))

I am going to insert multiple items as Thomas in this token

In [59]:
print("This is another example with repr %r which does not %s omit '' " %('Modi','Rahul'))

This is another example with repr 'Modi' which does not Rahul omit ''

In [60]:
print('He said his name was %r.' %'Fred')

He said his name was 'Fred'.

In [61]:
print("This is an example of all types of formatting. One:- %s, Two:- %r, Three-%9.3f" %('s type', 'r type', 4.67))

This is an example of all types of formatting. One:- s type, Two:- 'r type', Three-    4.670

In [62]:
print('The {2} , {1}, {0}'.format('Zero','One','Two'))

The Two , One, Zero

In [63]:
print('Left |{0:<16}|,Center: |{1:^18}|,Right:|{2:>24}|'.format('One','Two','Three'))

Left |One             |,Center: |       Two        |,Right:|                   Three|

In [64]:
a=[69,70,68,69]
a[2]

68

In [65]:
a.count(69)

2

In [66]:
a=[58,'Hello',29.56]

In [67]:
len(a)

3

In [68]:
str="new string"
len(str)

10

In [69]:
a=a+['Hey Prakhar']
a

[58, 'Hello', 29.56, 'Hey Prakhar']

In [70]:
a*3

[58,
 'Hello',
 29.56,
 'Hey Prakhar',
 58,
 'Hello',
 29.56,
 'Hey Prakhar',
 58,
 'Hello',
 29.56,
 'Hey Prakhar']

In [71]:
num=['One',2,'Three',4]
num.append('five')
num

['One', 2, 'Three', 4, 'five']

In [72]:
num.pop()

'five'

In [73]:
num.reverse()

In [74]:
num

[4, 'Three', 2, 'One']

In [75]:
list1=[1,2,3]
list2=["Hey", "How you","doing"]
list3=['H','A','P','P','Y']

matrix=[list1,list2,list3]
matrix

[[1, 2, 3], ['Hey', 'How you', 'doing'], ['H', 'A', 'P', 'P', 'Y']]

In [76]:
matrix[1][2]

'doing'

In [77]:
mydict={'key1':'value1','key2':25,'key3':['r','o','c','k','y']}

In [78]:
mydict

{'key1': 'value1', 'key2': 25, 'key3': ['r', 'o', 'c', 'k', 'y']}

In [79]:
mydict['key3'][3]='f'

In [80]:
mydict['key3']

['r', 'o', 'c', 'f', 'y']

In [81]:
d={}
d['rand1']='Namatuski'

In [82]:
d

{'rand1': 'Namatuski'}

In [83]:
ndict={'key1':{'nkey':{'nnkey':'value'}},'key2':36}

In [84]:
ndict['key2']

36

In [85]:
ndict['key1']['nkey']

{'nnkey': 'value'}

In [86]:
d = {'key1':1,'key2':2,'key3':3,42:'value','a':'b'}

In [87]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 42: 'value', 'a': 'b'}

In [88]:
d.keys()

dict_keys(['key1', 'key2', 'key3', 42, 'a'])

In [89]:
listd=d.items()

In [90]:
listd

dict_items([('key1', 1), ('key2', 2), ('key3', 3), (42, 'value'), ('a', 'b')])

In [91]:
listr=list(d.items())

In [92]:
listr

[('key1', 1), ('key2', 2), ('key3', 3), (42, 'value'), ('a', 'b')]

In [93]:
t=(1,2,"hello",52.3,'r','jumpak',2,2,2,"hello")

In [94]:
t

(1, 2, 'hello', 52.3, 'r', 'jumpak', 2, 2, 2, 'hello')

In [95]:
t[2]

'hello'

In [96]:
t.index('jumpak')

5

In [97]:
len(t)

10

In [98]:
t.count(2)

4

In [99]:
p=set()

In [100]:
p.add(1)

In [101]:
p

{1}

In [102]:
p.add(2)

In [103]:
p.add(5)
p

{1, 2, 5}

In [104]:
p.add(4)
p

{1, 2, 4, 5}

In [105]:
p.add("hey")

In [106]:
p.add("pr")
p

{1, 2, 4, 5, 'hey', 'pr'}

In [107]:
a=True
a

True

In [108]:
2>3

False

In [109]:
3>=3

True

In [110]:
p.add("Abcd")

In [111]:
p

{1, 2, 4, 5, 'Abcd', 'hey', 'pr'}

In [112]:
p.add("Pra")

In [113]:
p

{1, 2, 4, 5, 'Abcd', 'Pra', 'hey', 'pr'}

In [114]:
b=set()

In [115]:
b.add(5)

In [116]:
b.add(9)

In [117]:
b

{5, 9}

In [118]:
b.add(4)

In [119]:
b

{4, 5, 9}

In [120]:
myfile=open("text.txt")

In [121]:
myfile.read()

'Hey this is a new file\nLets write another sentence in the file.\n Writing another text '

In [122]:
myfile.read()
myfile.read()

''

In [123]:
myfile.read()

''

In [124]:
myfile.seek(0)
myfile.read()

'Hey this is a new file\nLets write another sentence in the file.\n Writing another text '

In [125]:
myfile.seek(0)
myfile.readlines()

['Hey this is a new file\n',
 'Lets write another sentence in the file.\n',
 ' Writing another text ']

In [416]:
myfile.seek(0)
a=myfile.readlines()
a

['Hey this is a new fileLets write another sentence in the file. Writing another text ']

In [417]:
a[0]

'Hey this is a new fileLets write another sentence in the file. Writing another text '

In [418]:
myfile.close()

In [419]:
myfile=open("text.txt","w+")

In [420]:
myfile.write("Hey this is a new file")

22

In [421]:
myfile.seek(0)
myfile.read()

'Hey this is a new file'

In [422]:
myfile.close()

In [423]:
myfile=open("text.txt","a+")

In [424]:
myfile.write("Lets write another sentence in the file. ")
myfile.write("Writing another text ")

21

In [425]:
myfile.seek(0)
print(myfile.read())

Hey this is a new fileLets write another sentence in the file. Writing another text

In [426]:

print ('\'', "Hello World"[8],'\'')

' r '

In [214]:
4 + 6 * 4

34

In [427]:
person='George'

if person=='George':
    print("Welcome George")

Welcome George

In [431]:
list1=[12,25,98,65,32,18,17,99]
list2=set(list1)
for i in list1:
    print(i)

12
25
98
65
32
18
17
99

In [433]:
for i in list2:
    print(i)

32
65
98
99
12
17
18
25

In [435]:
for i in list2:
    if i%2==0:
        print(i)

32
98
12
18

In [436]:
for i in "Hey there, how you doing??":
    print(i)

H
e
y

t
h
e
r
e
,

h
o
w

y
o
u

d
o
i
n
g
?
?

In [441]:
b=(2,9,6,3,4,5,6,7,8,4)
for i in b:
    print(i)

2
9
6
3
4
5
6
7
8
4

In [443]:
list3=[[1,2],[3,4],[5,6],[7,8]]
for i in list3:
    print(i)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [447]:
list4=[(1,2),(2,3),(4,5),(6,7),(8,9)]
for i in list4:
    print(i)

(1, 2)
(2, 3)
(4, 5)
(6, 7)
(8, 9)

In [449]:
for (a,b) in list4:
    print(a)

1
2
4
6
8

In [451]:
for [i,j] in list4:
    print(j)

2
3
5
7
9

In [452]:
d={'k1':"hello", 'k2':23,'k8':25.6}

for i in d:
    print(i)

k1
k2
k8

In [453]:
for i in d:
    print(d[i])

hello
23
25.6

In [463]:
listd=d.keys()
for i in d:
    print(i)

k1
k2
k8

In [467]:
d.items()

dict_items([('k1', 'hello'), ('k2', 23), ('k8', 25.6)])

In [470]:
for i,j in d.items():
    print(j)

hello
23
25.6

In [472]:
list(d.keys())

['k1', 'k2', 'k8']

In [473]:
list(d.values())

['hello', 23, 25.6]

In [475]:
d.keys()

dict_keys(['k1', 'k2', 'k8'])

In [2]:
i=0
while i<10:
    print(i)

    if(i==3):
        i+=1
        continue
        print("HOLA. i IS ",i ,"now")
    else:
        print("Lets resume")
    i+=1
        
else:
    print("GOODBYEE..! <3")

0
Lets resume
1
Lets resume
2
Lets resume
3
4
Lets resume
5
Lets resume
6
Lets resume
7
Lets resume
8
Lets resume
9
Lets resume
GOODBYEE..! <3

In [8]:
list(range(0,11,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
tuple(range(0,20,2))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [13]:
index_count=1
for letter in 'abcde':
    print("The index is {} and the letter is {}".format(index_count,letter))
    index_count += 1

The index is 1 and the letter is a
The index is 2 and the letter is b
The index is 3 and the letter is c
The index is 4 and the letter is d
The index is 5 and the letter is e

In [14]:
for i,letter in enumerate("abcde"):
     print("The index is {} and the letter is {}".format(i,letter))

The index is 0 and the letter is a
The index is 1 and the letter is b
The index is 2 and the letter is c
The index is 3 and the letter is d
The index is 4 and the letter is e

In [20]:
dict(enumerate('abcde'))

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [26]:

d=dict(enumerate('abcde'))

In [30]:
for i,j in dict(enumerate('abcde')).items():
    print(i,j)

0 a
1 b
2 c
3 d
4 e

In [34]:
list1=[12,25,98,65,32,18,17,99]

min(list1)

12

In [32]:
max(list1)

99

In [35]:
from random import shuffle
shuffle(list1)

In [36]:
list1

[32, 65, 99, 25, 98, 12, 18, 17]

In [42]:
from random import randint
i=randint(1,100)

print(i)

8

In [44]:
input("Enter something here")

''

In [49]:

word="abcde"
lista=[x for x in word]

In [50]:
lista

['a', 'b', 'c', 'd', 'e']

In [52]:
listb=[x**2 for x in range(1,20,2)]
listb

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [54]:
celsius = [0,10,20.1,34.5]

farhen=[(9/5)*x+32 for x in celsius ]
farhen

[32.0, 50.0, 68.18, 94.1]

In [1]:
r=input("Hey there.any number? ")
r

'23'

In [2]:
print('LOVE', 30, 82.2, sep=',')

LOVE,30,82.2

In [2]:
def add_num(num1,num2):
    return num1+num2

In [3]:
add_num(4,5)

9

In [5]:
a=5
type(int)

type

In [7]:
def abcd(a,b):
    return a%b==0

In [8]:
abcd(15,5)

True

In [10]:
abcd(15,7)

False

In [17]:
def evenlist(listnum):
    for i in listnum:
        if i%2==0:
            return True
        else:
            print("Odd number: ",i)

In [23]:
list1=[34,67,85,22,69,56,93,27]
evenlist(list1)

34
Odd number:  67
Odd number:  85
22
Odd number:  69
56
Odd number:  93
Odd number:  27

In [3]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [4]:
mylist1 = [1,2,3,4,5]
mylist1

In [7]:
mylist2 = ['a','b','c','d','e']
mylist2

['a', 'b', 'c', 'd', 'e']

In [10]:
for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

In [11]:
for item1,item2 in enumerate('abcde'):
    print('This is item number {} and item is {}'.format(item1,item2))

This is item number 0 and item is a
This is item number 1 and item is b
This is item number 2 and item is c
This is item number 3 and item is d
This is item number 4 and item is e

In [12]:
'x' in ['x','y','z']

True

In [15]:
(0,'a') in list(enumerate('abcde'))

True

In [128]:
tup1=((1,"hey"),(2,"my"),(3,"name"))

In [131]:
for i,j in tup1:
    print(i)

1
2
3

In [146]:

import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
    if(1<=n<=100):
        if(n%2==0):
            if(2<=n<=5):
                print("Not Werid")
            elif (6<=n<=20):
                print("Weird")
            elif (n>20):
              print("Not Weird")
        elif(n==4):
            print("Not Weird")
        else:
             print("Weird")

Weird

In [148]:
def square(num):
        return num**2

square(2)

4

In [151]:
num2=[1,2,3,4,5,6,7,6]
map(square,num2)

In [153]:
tuple(map(square,num2))

(1, 4, 9, 16, 25, 36, 49, 36)

In [157]:
set(map(square,num2))

{1, 4, 9, 16, 25, 36, 49}

In [159]:
list(map(square,num2))

[1, 4, 9, 16, 25, 36, 49, 36]

In [177]:
def check_even(number):
    a= number%2==0
    return a

In [178]:
num2=[1,2,3,4,5,6,7,8]

In [179]:
list(filter(check_even,num2))

[2, 4, 6, 8]

In [183]:
list(map(lambda num:num**2,num2))

[1, 4, 9, 16, 25, 36, 49, 64]